.pagination {
    display: flex;
    align-items: center;
    justify-content: center     ;
    &__right {
        &__list {
            display: flex;
            align-items: center;
            gap: 10px;
            &__item {
                &--active {
                    button {
                        @apply bg-primary border-primary;
                        color: #fff;
                    }
                }

                button {
                    @apply rounded-full;
                }
                &__link {
                    @apply w-8 h-8 rounded-full text-primary flex items-center justify-center border border-primary hover:border-secondary hover:bg-secondary hover:text-white;
                }
            }
        }
    }
}